@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  @keyframes gradient-bg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient-bg {
    background-size: 200% 200%;
    animation: gradient-bg 10s ease infinite;
  }
}
@layer utilities {
  .image-smooth {
    image-rendering: smooth;
  }
  .image-pixel {
    image-rendering: pixelated;
  }
}
.custom-list li::marker {
  color: rgb(139, 128, 128); /* Change to your preferred color */
}
